* {
  color: aliceblue;
  background-color: black;
}
.btn {
  color: black;
  background-color: rgb(139, 141, 231);
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 500;
}
.panel {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.panel > div {
  flex: 1;
}
