@import url("https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&display=swap");

* {
  /* color: aliceblue; */
}
.overlay-nav {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: full;
  overflow: hidden;
  background-position: center;
  position: fixed;
}
.btn {
  color: black;
  background-color: #8b8de7;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 500;
}
.about-panel {
  color: aliceblue;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;

  background-color: black;
}
/* .about-panel > div {
  flex: 1;
} */

.icon {
  color: white;
  /*given to one of the social icons*/
  margin: 0 20px;
}
.hover {
  color: white;
}
.hover:hover {
  color: #8b8de7;
  cursor: pointer;
}
li {
  margin: 15px 0;
}
.slick-slide > div {
  margin: 0 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #8b8de7;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(93, 95, 214);
}
